.dashboard {
  display: flex;
  overflow-y: auto;
  min-height: 100vh;
  flex-direction: column;

}

.widgets-container {
  display: grid;
  grid-template-areas:
    "weather todo news"
    "crypto todo joke";
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 2fr 1fr;
}

.weather-widget {
  grid-area: weather;
  height: 300px;
  padding: 1rem;
  color: #f9f9f9;
  border-radius: 0 40px 0 40px;
  background-color: #00712D;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.crypto-widget {
  grid-area: crypto;
  height: 300px;
  padding: 1rem;
  color: #0A0E23;
  background-color: #FF9100;
  border-radius: 40px 0 40px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.news-widget {
  grid-area: news;
  padding: 1rem;
  color: #0A0E23;
  max-height: 400px;
  border-radius: 40px 0 0 0;
  background-color: #FFF6E9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.joke-widget {
  grid-area: joke;
  height: 200px;
  padding: 1rem;
  color: #f9f9f9;
  background-color: #C80036;
  border-radius: 0 40px 0 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.todo-list-widget {
  grid-area: todo;
  padding: 1rem;
  overflow-y: auto;
  color: #0A0E23;
  min-height: 300px;
  border-radius: 8px;
  background-color: #FFF5E1;
  max-height: calc(100vh - 100px);

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .widgets-container {
    grid-template-areas:
      "weather"
      "todo"
      "news"
      "crypto"
      "joke";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .news-widget {
    max-height: none;
  }
}

@media (max-width: 480px) {
  .weather-widget, .crypto-widget, .joke-widget, .todo-list-widget, .news-widget {
    height: auto;
    padding: 0.5rem;
  }
}


