.header {
    display: flex;
    padding: 10px;
    background-color: #f5f5f5;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.location-weather, .time-date, .settings-icon {
    flex: 1;
    text-align: center;
}
